<!DOCTYPE html>
<html>
  <head>
    <title>SKills</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= realTitle %></h1> <!-- variable declared in routes/index.js-->
    <a href="/skills">Skills</a>
  </body>
</html>
